.container{
    background-color: rgb(223, 238, 238);
    background-size: 20px 100px;
    color: black;
    margin: 0 auto;
    border-radius: 20px;
    padding-left: 650px;
    
}
.container1{
    background-color: lightblue;
    border: solid black 1px;
    width: 100px;
    block-size: 200px;
    margin: 0 auto;
}